<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-US" }}">
<head>
  {{- partial "head.html" . -}}
</head>
<body class="min-h-screen flex flex-col bg-gray-50">
  {{- partial "header.html" . -}}
  
  <main class="flex-1">
    {{- block "main" . }}{{- end }}
  </main>
  
  {{- partial "footer.html" . -}}
  
  {{- /* Schema.org structured data */ -}}
  {{- partial "schema/organization.html" . -}}
  {{- partial "schema/website.html" . -}}
  {{- if .IsHome -}}
    {{- partial "schema/software.html" . -}}
  {{- end -}}
  {{- if eq .RelPermalink "/pricing/" -}}
    {{- partial "schema/pricing.html" . -}}
  {{- end -}}
  {{- if eq .RelPermalink "/faq/" -}}
    {{- partial "schema/faqpage.html" . -}}
  {{- end -}}
  {{- if .Params.faq -}}
    {{- partial "schema/faq-params.html" . -}}
  {{- end -}}
</body>
</html>
